



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/Admin.css">
</head>
<body>
    
</body>
<footer>
    <div class="vete">
        <h1>Veterinaria Boss Bunny</h1>
    </div>
    <div class="contac">
        <div class="text">
            <h1>CONTACTO</h1>
            <h2>teléfono: 3147888196 • veterinaria@gmail.com</h2>
        </div>
        <div class="img">
            <img src="../img/logo.jpg" class="log">
        </div>
    </div>
    <div class="toda">
        <h1>Todas las marcas y logotipos pertenecen a las respectivas empresas. ® 2023. creado por PETCOM  ©.</h1>
    </div>
</footer>
</html>
{%block header %}
{%endblock %}