<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/listU.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="../img/logo.jpg" class="logo">
        <div class="btns">
            <div class="btn">
                <a href="oscar.html"><input type="submit" value="USUARIOS"></a>
            </div>
            <div class="btn">
                <a href="oscar.html"><input type="submit" value="CITAS"></a>
            </div>
            <div class="btn">
                <input type="submit" value="AGENDA">
            </div>
            <div class="btn">
                <a href="oscar.html"><input type="submit" value="MASCOTAS"></a>
            </div>
            <div class="btn">
                <a href="oscar.html"><input type="submit" value="CLIENTES"></a>
            </div>
            <div class="btn">
                <input type="submit" value="HISTORIA CLÍNICA">
            </div>
            <div class="btn">
                <input type="submit" value="PERFIL">
            </div>
            <div class="cerrar">
                <input type="submit" value="CERRAR SESIÓN">
            </div>
        </div>
    </nav>

    <!-----------------MAIN----------------->

    <div class="all">
        
        <center><h1 class="List">LISTADO DE USUARIOS </h1></center>
        <br>
        <table class="tabla-colores">
            <tr>
                <th>Id</th>
                <th>Tipo Doc</th>
                <th>Num Doc</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Modificar</th>
                
                
                
            </tr>
            <tr>
                <td>das</td>
                <td>asd</td>
                <td>das</td>
                <td>dsa</td>
                <td>das</td>
                <td>sda</td>
                <td>dsad</td>
                <td class="cell-with-button">
                    <button class="btnM">Modificar</button>
                </td>
              
            </tr>
            <tr>
                <td>das</td>
                <td>asd</td>
                <td>das</td>
                <td>dsa</td>
                <td>das</td>
                <td>dsa</td>
                <td>asd</td>
                <td class="cell-with-button">
                    <button class="btnM">Modificar</button>
                </td>
               
            </tr>
           
        </table>
        
    </div>

    <!------------------FIN MAIN---------------->
    <footer>
        <div class="vete">
            <h1>Veterinaria Boss Bunny</h1>
        </div>
        <div class="contac">
            <div class="text">
                <h1>CONTACTO</h1>
                <h2>teléfono: 3147888196 • veterinaria@gmail.com</h2>
            </div>
            <div class="img">
                <img src="../assets/img/logo.jpg" class="log">
            </div>
        </div>
        <div class="toda">
            <h1>Todas las marcas y logotipos pertenecen a las respectivas empresas. ® 2023. creado por PETCOM  ©.</h1>
        </div>
    </footer>
</body>
</html>
