@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Poppins:wght@200;300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --1: #fff;
    --2: #000;
    --3: #1E509A;
    --4: #123387;
    --5: #8EA0BC;
    --6: #D9D9D9;
}

nav {
    display: flex;
    background-color: var(--3);
    width: 100%;
}

.logo {
    justify-content: start;
    padding: 1rem;
    margin-left: 10%;
    width: 4rem;
    height: 4rem;
    border-radius: 5rem;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 6rem;
    width: 100%;
    margin-right: 15em;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn input {
    height: 6rem;
    padding: 1rem;
    background-color: var(--3);
    color: var(--1);
    border-left: .1rem solid var(--1);
    border-right: .1rem solid var(--1);
    border-top: none;
    border-bottom: none;
    font-size: 1.2rem;
}

.cerrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cerrar input {
    height: 6rem;
    padding: 1rem;
    background-color: var(--3);
    color: var(--1);
    border-left: .1rem solid var(--1);
    border-right: none;
    border-top: none;
    border-bottom: none;
    font-size: 1.2rem;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.vete {
    background-color: var(--4);
    color: var(--1);
    font-size: 0.8rem; /* Aquí quitamos las comillas alrededor de 'Merriweather' */
    padding: 0.5rem;
    padding-inline-start: 24rem;
}

.contac {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--5);
    padding: 1.6rem;
    font-family: 'Poppins';
    padding-inline-start: 24rem;
    border-bottom: .2rem solid rgba(53, 53, 53, 0.1);
}

.log {
    width: 4rem;
    height: 4rem;
    margin-right: 20rem;
    border-radius: 4rem;
}

.perfil {
    position: relative;
    background-color: var(--5);
    color: var(--6);
    text-align: center;
    padding: 150px;
}

.perfil h1 {
    margin: 0;
    font-size: 3rem;
    /* font-size: 'Merriweather'; // Esta línea debería eliminarse */
}

.perfil h2 {
    background: rgb(183, 180, 177);
    text-align: center;
    width: 950px;
    height: 75px;
    border-radius: 50px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    text-align: center;
    font-size: 30PX;
}

.header {
    text-transform: uppercase;
    margin-bottom: 20px;
}

table.form {
    margin: 0 auto;
}

table.form tr {
    text-align: left;
}

table.form td {
    padding: 5px;
}

.form button {
    background-color: var(--4);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.form button.edit {
    background-color: #28a745;
}

.form button.save {
    background-color: var(--3);
}

.form button.save.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}