{% extends &quot;layout.html&quot;%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/doctor-histo.css">
    <title>Doctor-Historia-Clínica</title>
</head>
<body>
    
    <div id="all">
        <h1>HISTORIA CLÍNICA</h1>
        <div class="cont">
            <div class="bot">
                <h2>OPRIME ESTE BOTÓN SI QUIERES REGISTRAR UNA HISTORIA CLÍNICA</h2>
                <input type="submit" value="REGISTRAR">
            </div>
            <div class="bot">
                <h2>OPRIME ESTE BOTÓN SI QUIERES MODIFICAR UNA HISTORIA CLÍNICA</h2>
                <input type="submit" value="MODIFICAR">
            </div>
            <div class="bot">
                <h2>OPRIME ESTE BOTÓN SI QUIERES TENER UN REPORTE UNA HISTORIA CLÍNICA</h2>
                <input type="submit" value="REPORTE">
            </div>
        </div>
    </div>
    
</body>
</html>